<a href="https://colab.research.google.com/github/KarishmaSaxena/python-revise/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

python basics

In [2]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

data types :

int
float
bollean
string
complex

In [11]:
a=10
print(type(a))
b= 2.3
print(type(b))
c= True
print(type(c))
d= "hello"
print(type(d))
e= 3+4j
print(type(e))
f=True
print(type(f))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'complex'>
<class 'bool'>

constants & variables

In [4]:
a = "karishma"
print(a)
a=10
print(a)

karishma
10

input because its a string

In [5]:
num1= input("enter first number")
num2= input("enter second number")
print(num1+num2)

enter first number23
enter second number23
2323

now its a integer so 23+23 = 46 used (int)

In [6]:
numa= int(input("enter first number"))
numb= int(input("enter second number"))
print(numa+numb)

enter first number23
enter second number23
46

conversion of one data type to another

In [10]:
#int to float
x=10
print(type(x))
y=float(x)
print(type(y))
#conversion
print(float(x))
print(int(y))

<class 'int'>
<class 'float'>
10.0
10

string methods

In [31]:
my_string= "hello"
print(my_string)
print(type(my_string))
print(my_string * 5)
print(my_string.lower())
print(my_string.upper())
print(my_string[0])
print(my_string[0:])
print(my_string[:3])
print(my_string[-1])
# 0 -> starting 4-> last letter 2-> after 2 skip
print(my_string[0:4:2])
# sting concatenation
string1="hello"
string2="karishma"
string3= (string1+" "+string2)
print(string3)

hello
<class 'str'>
hellohellohellohellohello
hello
HELLO
h
hello
hel
o
hl
hello karishma

types of objects in python

Immutable ->
1.int
2.float
3.boolean
4.string
5.tuple

mutable ->
1.list
2.dict
3.set

In [73]:
list=[1,2,3,4]
print(type(list))
print(list)
# list can be multiple
lists=[1,2,3,4,5 ,"english","hindi",22]
print(type(lists))
print(lists)
#append
list1=[1,2,3,4]
list1.append(5)
print(list1)
list1.append("karishma")
print(list1)
# print element of list using index
print(list1[0])
print(list1[1])
print(list1[2])
#list allows duplicate values
list2=[1,2,3,4,5,5,5,5,5,5,2,2,2,2]
print(list2)
#length
print(len(list2))
#inisating empty list
list3=[]
print(list3)
list3.append(3)
list3.append(5)
print(list3)
# delete element in list
del list1[2]
print(list1)
#join two list
list4=list1+list2
print(list4)

<class 'list'>
[1, 2, 3, 4]
<class 'list'>
[1, 2, 3, 4, 5, 'english', 'hindi', 22]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'karishma']
1
2
3
[1, 2, 3, 4, 5, 5, 5, 5, 5, 5, 2, 2, 2, 2]
14
[]
[3, 5]
[1, 2, 4, 5, 'karishma']
[1, 2, 4, 5, 'karishma', 1, 2, 3, 4, 5, 5, 5, 5, 5, 5, 2, 2, 2, 2]

  tuple (immutable cannot chnage)

In [74]:
tuple=(1,2,3,4,"banana", 22)
print(type(tuple))
print(tuple)
tuple1=(1,2,3,4,5,"english","hindi",22)
print(tuple1)
tuple2=tuple+tuple1
print(tuple2)
print(len(tuple))
tupling=()
print(tupling)
print(tuple[0])
print(tuple[1])
print(tuple[2])

<class 'tuple'>
(1, 2, 3, 4, 'banana', 22)
(1, 2, 3, 4, 5, 'english', 'hindi', 22)
(1, 2, 3, 4, 'banana', 22, 1, 2, 3, 4, 5, 'english', 'hindi', 22)
6
()
1
2
3

list to tuple (Conversion)

converting list to tuple

In [87]:
import builtins
my_list = ["hello","karishma",1,2,3,4,5]
my_tuple = builtins.tuple(my_list)
print(my_tuple)

('hello', 'karishma', 1, 2, 3, 4, 5)

set=>{}

does not support indexing
does not allow duplicate values

In [98]:
# set
sets ={"apple","banana", "orange", "kiwi","pineapple"}
print(type(sets))
print(sets)
# conversion set to tuple
set2={"pomegranate","mango","grapes"}
print(set2)
set3 = (sets,set2)
print(set3)
print(type(set3))
# conversion list to set
my_listing=[1,2,3,4,5]
my_set=set(my_listing)
print(my_set)
print(type(my_set))

<class 'set'>
{'kiwi', 'banana', 'pineapple', 'apple', 'orange'}
{'grapes', 'mango', 'pomegranate'}
({'kiwi', 'banana', 'pineapple', 'apple', 'orange'}, {'grapes', 'mango', 'pomegranate'})
<class 'tuple'>
{1, 2, 3, 4, 5}
<class 'set'>

dictinory
does not allow duplicate items

In [12]:
my_dict={"name":"karishma" , "age": 20, "city":"delhi","country": "india"}
print(my_dict)
print(type(my_dict))
print(my_dict["name"])
print(my_dict["age"])
print(my_dict["city"])
print(my_dict["country"])
my_dict2={"name":"rishabh","age":"28","city":"delhi","country":"india"}
dict3=(my_dict , my_dict2)
print(dict3)
print(type(dict3))

{'name': 'karishma', 'age': 20, 'city': 'delhi', 'country': 'india'}
<class 'dict'>
karishma
20
delhi
india
({'name': 'karishma', 'age': 20, 'city': 'delhi', 'country': 'india'}, {'name': 'rishabh', 'age': '28', 'city': 'delhi', 'country': 'india'})
<class 'tuple'>

Operators

Assignmnet
Arithmentic
Comparsion
Logical
Identity
Membership

In [17]:
#assignmnet
a=10
b=12
print(a+b)
print(b-a)
print(a*b)
print(a%b)
print(a/b)
print(a**b) #exponent

22
2
120
10
0.8333333333333334
1000000000000

In [26]:
#assignmnet
a1=b1 =12
print(b1)
print(a1)
z=6
z += 10
print(z)
p=10
p -=5
print(p)

12
12
16
5

In [28]:
#comparsion
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

True
False
False
False
True
True

In [35]:
#logical
q=10
s=15
print((q>5 & s<15))
print((q>10 | s<9))
print((q>2 and s<10))
print((q>1 or s<15))

True
False
False
True

Identity operator
is
is not

In [37]:
k=10
m=16
print(k is m)
print(k is not m)

False
True

Membership Operartor
in
not in

In [42]:
c=6
g=20
n=12
l=[1,2,3,4,5,6,18]
print(c in l)
print(n not in l)
print(g not in l)
print(g in l)

True
True
True
False

In [47]:
#if-else
h=10
if(h<=12):
    print('h is less than 12')
else:
   print('h is greater')

h is less than 12

In [3]:
#if-elif statement
age=60
if(age<10):
    print("child")
elif(age<18):
  print("teenager")
elif age < 60:
    print("adult")
else:
  print("seinor citizen")

seinor citizen

In [6]:
#nested if
h=10
d=13
u=15
if(h>d):
  if(h>u):
    print("h is greater")
    if(d>u):
      print("d is greater")
  else:
    print("u is greater")
else:
  print("d is greater")

d is greater

In [21]:
#FOR loop
for i in range (10):
  print("10 times ")
for i in range (5):
  print(int(input("enter the input :")))
numbers=[1,2,3,4,5,6,7,8,9]
for i in numbers:
   print(i) # i -0,1,2,3....

# While loop (if condition true then only the code )
i=0
while(i<=10):
  print(i)
  i +=1

10 times
10 times
10 times
10 times
10 times
10 times
10 times
10 times
10 times
10 times
enter the input :1
1
enter the input :2
2
enter the input :3
3
enter the input :4
4
enter the input :5
5
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
10

In [24]:
#functions
number = int(input("enter a factorial number"))
fact=1
number=number+1
if(number==0):
  print("factorial of 0 is 1")
for i in range(fact,number): # fact =1 , number =6+1->7 range(1,7)=> 1,2,3,4,5,6=720
  fact=fact*i
print(fact)

enter a factorial number6
720

In [69]:
num = 7

def factorial(num):
  fact=1
  for i in range(fact,num+1):
    fact=fact*i
  return fact
print(factorial(num))

5040